/* Center everything on the page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #d6ede9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Container to hold form + table */
.main-container {
  width: 80%;
  max-width: 800px;
  margin-top: 30px;
}

/* Form Styling */
form {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #e5981d;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #e5981d;
}

/* Table Styling */
h2 {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: rgb(23, 21, 21);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #e5981d;
  color: white;
}

tr:hover {
  background-color: #403b3b;
}
